body {
  
  
}
html {
  height: 100%;
}
.bg {
  /* The image used */
  background-image: url("./ignasi_pattern_s.png");
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  }

  .message{
    text-align: top;
  }
  body{
    min-height:100%;
    display: flex;
    flex-direction: column;
  }
  footer {
    background: #333333;
    color: white;
    padding: 3em;

    margin-top: auto;
  }
}
